{% extends "FacultyView/view/Base.html" %}
{% load static %}
{% load contextual_reverse %}

{% block head %}
  <link rel="stylesheet" href="{% static 'FacultyView/part/attendanceList.css' %}" />
  <link rel="stylesheet" href="{% static 'FacultyView/part/exportForm.css' %}" />
  <style>
    .list-btn-container{
      width:0;
      height:0;
      margin:0;
      padding:0;
      position: sticky;
      top:0;
      left:0;
    }
    .list-btn-container .table-btn{
      position: absolute;
      margin:0;
      left:0;
      top:0;
      padding: 5px;
    }
  </style>
{% endblock %}

{% block left_block %}
    <div class="list-btn-container">
      <a title="Open as table in new window" target="_blank" href="{% contextual_reverse 'faculty_view_attendance' action='view-table' %}">
        <button class="table-btn">
          <i class="fa-solid fa-table"></i>
        </button>
      </a>
    </div>

    {% include "FacultyView/part/AttendanceList.html" %}


{% endblock %}

{% block right_block %}

    {% include "FacultyView/part/ExportForm.html" %}

{% endblock %}