{% load static %}
{% load contextual_reverse %}
{% load referer_path %}
{% firstof request.GET.attendacelistid '' as attentdance_list_id %}

<div id="student_list_container_{{attentdance_list_id}}" class="attendance-list-container">
    <ul class="student-list"
        id="student_present_list_{{attentdance_list_id}}"
        data-querypath="{% contextual_reverse 'faculty_view_attendance' action='list-html' %}?attendacelistid={{attentdance_list_id}}&with_date_headers={{with_date_headers}}&with_class_headers={{with_class_headers}}"
        data-deletepath="{% url 'faculty_view_delete_attendance' %}"
        data-refererpath="{{ request|referer_path }}"
        data-csrftoken="{{csrf_token}}"
    >
        {% regroup present by date_only as attendance_grouped_by_date %}
        {% for group in attendance_grouped_by_date %}
            {% if with_date_headers %}
                <li class="date-seperator"><h4><i class="fa-solid fa-calendar"></i><span class="attendance-date" data-ISODate="{{group.grouper|date:'c'}}">{{group.grouper|date:"Y-m-d"}}</span></h4></li>
            {% endif %}
            
            {% regroup group.list by className as grouped_by_class %}
            {% for inner_group in grouped_by_class %}
                {% if with_class_headers %}
                    <li class="class-seperator"><hr><h4><i class="fa-solid fa-building-columns"></i>{{ inner_group.grouper }}</h4></li>
                {% endif %}

                {% for attendance in inner_group.list %}
                    <li class="student" data-recordid="{{attendance.id}}">
                        <label class="student-label">
                            <span class="student-name">
                                <span class="attendance-time"
                                      data-ISOTime="{{ attendance.dte_date|date:'c' }}">
                                    {{ attendance.dte_date|date:"H:i (e)" }}
                                </span> - {{ attendance.student.s_fname }} {{attendance.student.s_lname}}
                            </span>
                            <span class="student-email"><i class="fa-solid fa-square-envelope"></i>{{attendance.student.s_eml}}</span>
                            <div class="delete-button-container" id="container_delete_record_{{attendance.id}}">
                                {% if perms.FacultyView.delete_attendance %}
                                    <button
                                        id="btn_delete_record_{{attendance.id}}"
                                        class="delete-button icon"
                                        title="Delete Record"
                                    >
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                    <button
                                        id="btn_delete_record_{{attendance.id}}_yes"
                                        class="delete-button yes"
                                        value="{{attendance.id}}"
                                        title="Confirm Delete Record"
                                    >
                                        <i class="fa-solid fa-square-check"></i>
                                    </button>
                                    <button
                                        id="btn_delete_record_{{attendance.id}}_no"
                                        class="delete-button no"
                                        title="Cancel Delete Record"
                                    >
                                        <i class="fa-solid fa-square-xmark"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </label>
                    </li>
                {% endfor %}

            {% endfor %}
        {% endfor %}
    </ul>
    <script src="{% static 'FacultyView/part/ATTENDANCE_LIST.js' %}"></script>
    <script>
        ATTENDANCE_LIST.register('student_present_list_{{attentdance_list_id}}');
    </script>
</div>
