{% load static %}
{% firstof request.GET.exportformid '' as export_form_id %}
{% load export_date_type %}
{% export_date_type as is_std %}

<form class="export-date-form" id="export-date-form_{{export_form_id}}">
    {% csrf_token %}
    <fieldset>
        <label for="select-export-module_{{export_form_id}}">Module:</label>
        <select name="select-export-module" id="select-export-module_{{export_form_id}}">
            <option value="*">All</option>
            {% for m in modules %}
                <option value="{{m.id}}"
                    {% if m.id == module.id %}selected{% endif %}
                >{{m.s_moduleName}}</option>
            {% endfor %}
        </select>        
        <label for="select-export-class_{{export_form_id}}">Class:</label>
        <select name="select-export-class" id="select-export-class_{{export_form_id}}">
            <option data-classId="*" value="*">All</option>
            {% for c in classes %}
                {% ifchanged c.moduleName %}
                    <option data-classId="-1" data-moduleId="{{c.moduleName.id}}" value="M{{c.moduleName.id}}" disabled>--{{c.moduleName.s_moduleName}}--</option>
                {% endifchanged %}
                <option data-moduleId="{{c.moduleName.id}}" value="{{c.id}}"
                    {% if c.id == class.id %}selected{% endif %}
                >{{c.s_className}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="fs-date" data-isstd="{{is_std}}">
        <legend>
            <button title="Date picker" class="date-btn day" data-isstd="1"><i class="fa-solid fa-calendar-days"></i><span> Date picker</span></button>
            <button title="Date range" class="date-btn range" data-isstd="2"><i class="fa-solid fa-calendar-week"></i><span> Date range</span></button>
            <button title="Year / Month / Day" class="date-btn ymd" data-isstd="3"><i class="fa-solid fa-calendar-day"></i><span> Year / Month / Day</span></button>
        </legend>
        <div class="fs-standard-date"
        style="{% if not is_std == 1 %}display:none;{% endif %}"
        data-isstd="1"
        >
            <label>
                Date: 
                <input type="date" 
                    name="export-date-picker"
                    value="{{dte_year|stringformat:'04d'}}-{{dte_month|stringformat:'02d'}}-{{dte_day|stringformat:'02d'}}">
            </label>
        </div>
        <div class="fs-range-date"
        style="{% if not is_std == 2 %}display:none;{% endif %}"
        data-isstd="2"
        >
            <label>
                Start: 
                <input type="date" 
                    name="export-date-start-picker"
                    value="{{dte_start_year|stringformat:'04d'}}-{{dte_start_month|stringformat:'02d'}}-{{dte_start_day|stringformat:'02d'}}">
            </label>-
            <label>
                End: 
                <input type="date" 
                    name="export-date-end-picker"
                    value="{{dte_end_year|stringformat:'04d'}}-{{dte_end_month|stringformat:'02d'}}-{{dte_end_day|stringformat:'02d'}}">
            </label>
        </div>
        <div class="fs-ymd-date"
        style="{% if not is_std == 3 %}display:none;{% endif %}"
        data-isstd="3"
        >
            <label>
                Year: 
                <input type="text" 
                    name="export-date-year"
                    value="{{dte_year|stringformat:'04d'}}">
            </label>
            <label>
                Month:
                <input type="text" 
                    name="export-date-month"
                    value="{% if dte_month %}{{dte_month|stringformat:'02d'}}{% endif %}"
                    maxlength="2">
            </label>
            <label>
                Day:
                <input type="text" 
                    name="export-date-day"
                    value="{% if dte_day %}{{dte_day|stringformat:'02d'}}{% endif %}",
                    maxlength="2">
            </label>
        </div>
        <br>
        <button name="btn-view-date">View</button>
        <button name="btn-export-date">Export</button>
    </fieldset>
    <fieldset>
        <legend>Today:</legend>
        <button name="btn-view-today">View</button>
        <button name="btn-export-today">Export</button>
    </fieldset>
    <fieldset>
        <legend>Yesterday:</legend>
        <button name="btn-view-yesterday">View</button>
        <button name="btn-export-yesterday">Export</button>
    </fieldset>
</form>
<script src="{% static 'FacultyView/part/EXPORT_FORM.js' %}"></script>
<script>
    EXPORT_FORM.register('export-date-form_{{export_form_id}}');
</script>