/* Faculty View */
.attendance-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hint {
  font-size: 16px;
  color: #666;
}

/* Add custom scrollbar styles to the form */
.attendance-form {
  height:100%;
  overflow-y: auto; /* Add vertical scroll when the content exceeds the height */
  scrollbar-width: thin; /* Create a thin scrollbar (on supported browsers) */
  scrollbar-color: #000000 transparent; /* Set the scrollbar color */
}

/* Customize the scrollbar thumb and track */
.attendance-form::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.attendance-form::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Set the thumb color */
}

.attendance-form::-webkit-scrollbar-track {
  background-color: #ddd; /* Set the track color */
}

.student-list {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove any margin for the list */
}

.student {
  margin: 2%;
}

.student-label {
  display: grid;
  grid-template-columns: minmax(0,max-content) 1fr max-content;
  align-items: center;
  gap: 5px 5px;
  justify-items: start;

  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px 8px; /* Reduce padding to make the delete button smaller */
  transition: background-color 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.student-label *{
  white-space:nowrap;
}

.student-name{
  overflow:hidden;
  max-width: 100%;
}
.student-email{
  overflow: hidden;
  max-width: 100%;
}

.delete-button-container{
  background-color: #eee;
  border-radius: 5px;

  -webkit-box-shadow: inset 3px 3px 5px 2px #ddd;; 
  box-shadow: inset 3px 3px 5px 2px #ddd;;
}

/* Adjust the size of the delete button icon */
.delete-button {
  background-color: unset;
  color: var(--button-background-color);
  border: none;
  padding: 0;
  font-size: 17px; /* Adjust the font size to control the button size */
  cursor: pointer;
  margin: 15px 5px 5px 5px;
}
.delete-button:hover {
  background-color: unset;
  color: var(--button-hover-background-color);
}
.delete-button.yes {
  display: none;
}
.delete-button.no {
  display: none;
}

.attendance-student-form {
  border-top: 2px solid gray;
  margin-top: 5px;
  padding-top: 10px;
}

.form-create-class{
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  border-top: outset 2px gray;
  padding-top: 10px;
  gap:5px 0px;
}

.export-date-form>fieldset{
  margin-bottom: 5px;
  padding: 5px 2px 5px 2px;
}

.export-date-form>fieldset:nth-of-type(1){
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap:5px 5px;
}