{% load static %}
{% firstof request.GET.exportformid '' as export_form_id %}

<form class="export-date-form" id="export-date-form_{{export_form_id}}">
    {% csrf_token %}
    <fieldset>
        <label for="select-export-module_{{export_form_id}}">Module:</label>
        <select name="select-export-module" id="select-export-module_{{export_form_id}}">
            <option value="*">All</option>
            {% for m in modules %}
                <option value="{{m.id}}"
                    {% if m.id == module.id %}selected{% endif %}
                >{{m.s_moduleName}}</option>
            {% endfor %}
        </select>        
        <label for="select-export-class_{{export_form_id}}">Class:</label>
        <select name="select-export-class" id="select-export-class_{{export_form_id}}">
            <option data-classId="*" value="*">All</option>
            {% for c in classes %}
                {% ifchanged c.moduleName %}
                    <option data-classId="-1" data-moduleId="{{c.moduleName.id}}" value="M{{c.moduleName.id}}" disabled>--{{c.moduleName.s_moduleName}}--</option>
                {% endifchanged %}
                <option data-moduleId="{{c.moduleName.id}}" value="{{c.id}}"
                    {% if c.id == class.id %}selected{% endif %}
                >{{c.s_className}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <label>Date: <input type="date" name="export-date-picker" value="{{dte_year|stringformat:'04d'}}-{{dte_month|stringformat:'02d'}}-{{dte_day|stringformat:'02d'}}"></label>
        <br>
        <button name="btn-view-date">View</button>
        <button name="btn-export-date">Export</button>
    </fieldset>     
    <fieldset>
        <legend>Today:</legend>
        <button name="btn-view-today">View</button>
        <button name="btn-export-today">Export</button>
    </fieldset>
    <fieldset>
        <legend>Yesterday:</legend>
        <button name="btn-view-yesterday">View</button>
        <button name="btn-export-yesterday">Export</button>
    </fieldset>
</form>
<script src="{% static 'FacultyView/EXPORT_FORM.js' %}"></script>
<script>
    EXPORT_FORM.register('export-date-form_{{export_form_id}}');
</script>