{% extends "FacultyView/FacultyView.html" %}
{% load static %}

{% block left_block %}
    <h3 class="present-list">Select your class</h3>
    <ul class="student-list">

    {% for class in classes %}
        <li class="student">
        <a href="{% url 'faculty_view_class_id' class.id %}">
            <button>{{class.s_className}}</button>
        </a>
        </li>
    {% endfor %}

        <li class="student">
            <form method="POST" action="{% url 'faculty_view_create_class' %}">
            {% csrf_token %}
            <input type="text" name="class_name" id="class_name">
            <button type="submit">+ Create</button>
            </form>
        </li>
    </ul>
{% endblock %}

{% block right_block %}
    <div class="attendance-card">
        <h2>
        &nbsp;
        </h2>
        <img src="" alt="" width="200" height="200"/>
        </a>
    </div>
{% endblock %}