{% extends "FacultyView/FacultyView.html" %}
{% load static %}

{% block left_block %}

    {% include "FacultyView/StudentList.html" %}

{% endblock %}

{% block right_block %}
    <form class="export-date-form">
        {% csrf_token %}
        <label>Class:
            <select id="select-export-class">
                <option value="*">All</option>
                {% for class in classes %}
                    <option value="{{class.id}}">{{class.s_className}}</option>
                {% endfor %}
            </select>
        </label>

        <fieldset>Export:<br>
            <button id="btn-export-today">Today</button><button id="btn-export-yesterday">Yesterday</button>
        </fieldset>
        <fieldset>View:<br>
            <button id="btn-view-today">Today</button><button id="btn-view-yesterday">Yesterday</button>
        </fieldset>
        <fieldset>
            <label>Date: <input type="date" id="export-date-picker"></label>
            <br>
            <button id="btn-export-date">Export</button><button id="btn-view-date">View</button>
        </fieldset>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            const btn1 = document.getElementById("btn-export-today");
            const btn2 = document.getElementById("btn-export-yesterday");
            const btn3 = document.getElementById("btn-view-today");
            const btn4 = document.getElementById("btn-view-yesterday");
            const btn5 = document.getElementById("btn-export-date");
            const btn6 = document.getElementById("btn-view-date");

            const c_date = new Date();
            const c_year = {% if dte_year %}{{dte_year}}{% else %}c_date.getFullYear(){% endif %};
            const c_month = {% if dte_month %}{{dte_month}}{% else %}c_date.getMonth() + 1{% endif %};
            const c_day = {% if dte_day %}{{dte_day}}{% else %}c_date.getDate(){% endif %};
            
            const classSelect = document.getElementById("select-export-class");
            const picker = document.getElementById("export-date-picker");

            picker.value = `${c_year}=${c_month}-${c_day}`;

            const rootPath = "/class/attendance/";

            function getPathPrefix(action){
                const classId = classSelect.value;
                let path = rootPath;
                if(classId !== '*'){
                    path = `${path}${classId}/`;
                }
                path = `${path}${action}/`;
                return path;
            }
            function goto_export(dte){
                let path = getPathPrefix('export');
                path = `${path}${dte.getFullYear()}/${dte.getMonth() + 1}/${dte.getDate()}/`;
                window.location = path;
            }
            function goto_view(dte){
                let path = getPathPrefix('view');
                path = `${path}${dte.getFullYear()}/${dte.getMonth() + 1}/${dte.getDate()}/`;
                window.location = path;
            }

            btn1.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date();
                goto_export(D);
            });
            btn2.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date();
                D.setDate(D.getDate() - 1);
                goto_export(D);
            });

            btn3.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date();
                goto_view(D);
            });
            btn4.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date();
                D.setDate(D.getDate() - 1);
                goto_view(D);
            });

            btn5.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date(picker.value)
                goto_export(D);
            });
            btn6.addEventListener('click',(event)=>{
                event.preventDefault();
                const D = new Date(picker.value)
                goto_view(D);
            });

        });
    </script>
{% endblock %}