{% extends "mainLayout.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'FacultyView/FacultyView.css' %}" />
  <link rel="stylesheet" href="{% static 'StudentView/studentForm.css' %}" />
{% endblock %}

{% block main_block %}
  <section class="block left_block marked-list">
    {% block left_block %}<h2>No content</h2>{% endblock %}
  </section>
  <section class="block right_block attendance-container">
    {% block right_block %}<h2>No content</h2>{% endblock %}
  </section>
{% endblock %}
