{% extends "FacultyView/FacultyView.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'FacultyView/attendance_list.css' %}" />
  <link rel="stylesheet" href="{% static 'StudentView/student_registration_form.css' %}" />
  <link rel="stylesheet" href="{% static 'StudentView/qrCode.css' %}" />
  <link rel="stylesheet" href="{% static 'FacultyView/FacultyView_class.css' %}" />
{% endblock %}

{% block left_block %}
    <h2>Present Students</h2>
    <h3>Present Count : <span class="attendance-list-count">{{ present|length }}</span></h3>
    {% include "FacultyView/AttendanceList.html" %}
    {% include "StudentView/studentRegistrationForm.html" %}
{% endblock %}

{% block right_block %}
    {% include "StudentView/qrCode.html" %}
{% endblock %}