<!DOCTYPE html>
{% load static %}
<html lang="{{settings.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}QR Attendance System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'FacultyView/TemplateCss.css' %}" />
    <link rel="stylesheet" href="{% static 'FacultyView/FacultyView.css' %}" />
    <link rel="stylesheet" href="{% static 'StudentView/studentForm.css' %}" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    {% block head %}{% endblock %}
  <body>
    <header>
      <h1>{{settings.INSTITUTION_NAME}}</h1>
      <h2>{% block header_title %}Attendance Portal{% endblock %}</h2>
    </header>
    <main>
      <section class="block left_block marked-list">
        {% block left_block %}<h2>No content</h2>{% endblock %}
      </section>
      <section class="block right_block attendance-container">
        {% block right_block %}<h2>No content</h2>{% endblock %}
      </section>
    </main>
    <footer>
      {% block footer %}<p>&copy; QR Attendance System 2023 - Team Hokage</p>{% endblock %}
    </footer>
  </body>
</html>
