<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Attendance System</title>
    <link rel="stylesheet" href="{% static 'FacultyView/Index_Style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Centre For Alternative Technology</h1>
      <h2>Attendance Portal</h2>
    </header>
    <main>
      <div>
        <h3 class="present-list">Select your class</h3>
          <ul class="student-list">
            {% csrf_token %}
            {% for class in classes %}
            <li class="student">
              <a href="{% url 'faculty_view_class_id' classId}">{{class.s_name}}</a>
            </li>
            {% endfor %}

            <li class="student">
              <label>New Class:<input type="text"></label>
            </li>
          </ul>
      </div>
      <div class="attendance-container">
        <div class="attendance-card">
          <h2>
            &nbsp;
          </h2>
            <img
              src=""
              alt=""
              width="200"
              height="200"
            />
          </a>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; QR Attendance System 2023 - Team Hokage</p>
    </footer>
  </body>
</html>
