{% extends "FacultyView/FacultyView.html" %}
{% load static %}
{% load jump_url %}

{% block head %}
  <link rel="stylesheet" href="{% static 'FacultyView/attendance_list.css' %}" />
  <link rel="stylesheet" href="{% static 'FacultyView/export_form.css' %}" />
  <style>
    .table-btn-container{
      width:0;
      height:0;
      margin:0;
      padding:0;
      position: sticky;
      top:0;
      left:0;
    }
    .table-btn-container .table-btn{
      position: absolute;
      margin:0;
      left:0;
      top:0;
      padding: 5px;
    }
  </style>
{% endblock %}

{% block left_block %}
    <div class="table-btn-container">
      <a title="Open as table in new window" target="_blank" href="{% jump_url 'faculty_view_attendance' action='view-table' %}">
        <button class="table-btn">
          <i class="fa-solid fa-table"></i>
        </button>
      </a>
    </div>

    {% include "FacultyView/AttendanceList.html" %}


{% endblock %}

{% block right_block %}

    {% include "FacultyView/ExportForm.html" %}

{% endblock %}

