{% extends "FacultyView.html" %}
{% load static %}

{% block header_title %}Attendance Portal {{className}}{% endblock %}

{% block left_block %}
    <h2>Present Count : {{ present|length }}</h2>
    <h3 class="present-list">Present Students</h3>

    <form class="attendance-form" method="POST">
        {% csrf_token %}
        <ul class="student-list">
        {% for attendance in present %}
        <li class="student">
            <label class="student-label">
            <span class="student-name">
                {{ attendance.dte_date|date:"H:i" }} - {{ attendance.student.s_fname }} {{attendance.student.s_lname}}
            </span>
            <button
                type="submit"
                name="student_email"
                id="student_email"
                value="{{attendance.student.s_eml}}"
                class="delete-button"
            >
                <i class="fas fa-trash-alt"></i>
            </button>
            </label>
        </li>
        {% endfor %}
        </ul>
    </form>
    {% include "StudentView/nameForm.html" %}
{% endblock %}

{% block right_block %}
    <div class="attendance-card">
        <h2>
        Connect to CAT_STUDENT and Scan the QR Code to Mark Attendance
        </h2>
        <img
            src="{% static 'FacultyView/qrcode_' %}{{classId}}.png"
            alt="QR Code"
            width="200"
            height="200"
        />
        </a>
        <p class="hint">Please scan the QR code to mark your attendance.</p>
    </div>
{% endblock %}