{% extends "FacultyView/FacultyView.html" %}
{% load static %}

{% block left_block %}
    <h2>Present Students</h2>
    <h3>Present Count : {{ present|length }}</h3>
    <form class="attendance-form" method="POST" action="{% url 'Faculty_view_delete_attendance' classId=classId %}">
        {% csrf_token %}
        {% include "FacultyView/StudentList.html" %}
    </form>
    {% include "StudentView/nameForm.html" %}
{% endblock %}

{% block right_block %}
        <div class="attendance-card">
            {% include "StudentView/qrCode.html" %}
        </div>
{% endblock %}