{% load static %}

<div id="student_list_container">
    <ul class="student-list" id="student_present_list"
        {% if classId %}
            {% if dte_year and dte_month and dte_year %}
                data-rootpath="{% url 'faculty_view_present_list_by_class_id_and_ymd' classId dte_year dte_month dte_day %}"
            {% else %}
                data-rootpath="{% url 'faculty_view_present_list_by_class_id_today' classId %}"
            {% endif %}
        {% elif dte_year and dte_month and dte_year %}
            data-rootpath="{% url 'faculty_view_present_list_all_classes_by_ymd' dte_year dte_month dte_day %}"
        {% else %}
            data-rootpath="{% url 'faculty_view_present_list_all_classes_today' %}"
        {% endif %}
    >
        {% for attendance in present %}
            {% ifchanged attendance.s_class.s_className %}
                {%if attendance.s_class.s_className != className %}
                    <li class="classTitle"><h4>{{ attendance.s_class.s_className }}</h4></li>
                {% endif %}
            {% endifchanged %}
            <li class="student">
                <label class="student-label">
                <span class="student-name">
                    <span class="attendance-date"
                        data-UNIXtimestamp="{{ attendance.dte_date|date:'U' }}"
                        data-ISODate="{{ attendance.dte_date|date:'c' }}">
                        {{ attendance.dte_date|date:"H:i" }}
                    </span> - {{ attendance.student.s_fname }} {{attendance.student.s_lname}}
                </span>
                <button
                    type="submit"
                    name="student_email"
                    id="student_email_{{attendance.student.s_eml}}"
                    value="{{attendance.student.s_eml}}"
                    class="delete-button"
                >
                    <i class="fas fa-trash-alt"></i>
                </button>
                </label>
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'FacultyView/StudentList.js' %}"></script>    
</div>
