<ul class="student-list" id="student_present_list">
    {% for attendance in present %}
        <li class="student">
            <label class="student-label">
            <span class="student-name">
                <span class="attendance-date"
                    data-UNIXtimestamp="{{ attendance.dte_date|date:'U' }}"
                    data-ISODate="{{ attendance.dte_date|date:'c' }}">
                    {{ attendance.dte_date|date:"H:i" }}
                </span> - {{ attendance.student.s_fname }} {{attendance.student.s_lname}}
            </span>
            <button
                type="submit"
                name="student_email"
                id="student_email_{{attendance.student.s_eml}}"
                value="{{attendance.student.s_eml}}"
                class="delete-button"
            >
                <i class="fas fa-trash-alt"></i>
            </button>
            </label>
        </li>
    {% endfor %}
</ul>