{% load static %}

<div id="student_list_container">
    <ul class="student-list" id="student_present_list"
        {% if classId %}
            {% if dte_year and dte_month and dte_year %}
                data-rootpath="{% url 'faculty_view_present_list' classId=classId year=dte_year month=dte_month day=dte_day %}"
            {% else %}
                data-rootpath="{% url 'faculty_view_present_list' classId=classId %}"
            {% endif %}
        {% elif moduleId %}
            {% if dte_year and dte_month and dte_year %}
                data-rootpath="{% url 'faculty_view_present_list' moduleId=moduleId year=dte_year month=dte_month day=dte_day %}"
            {% else %}
                data-rootpath="{% url 'faculty_view_present_list' moduleId=moduleId %}"
            {% endif %}
        {% elif dte_year and dte_month and dte_year %}
            data-rootpath="{% url 'faculty_view_present_list' year=dte_year month=dte_month day=dte_day %}"
        {% else %}
            data-rootpath="{% url 'faculty_view_present_list' %}"
        {% endif %}
    >
        {% for attendance in present %}
            {% ifchanged attendance.className %}
                {%if attendance.className.s_className != className %}
                    <li class="classTitle"><h4>{{ attendance.className }}</h4></li>
                {% endif %}
            {% endifchanged %}
            <li class="student">
                <label class="student-label">
                <span class="student-name">
                    <span class="attendance-date"
                        data-UNIXtimestamp="{{ attendance.dte_date|date:'U' }}"
                        data-ISODate="{{ attendance.dte_date|date:'c' }}">
                        {{ attendance.dte_date|date:"H:i" }}
                    </span> - {{ attendance.student.s_fname }} {{attendance.student.s_lname}}
                </span>
                <button
                    type="submit"
                    name="attendance_record"
                    id="record_{{attendance.id}}"
                    value="record_{{attendance.id}}"
                    class="delete-button"
                >
                    <i class="fas fa-trash-alt"></i>
                </button>
                </label>
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'FacultyView/StudentList.js' %}"></script>    
</div>
