
{% if qrSrc %}
    <div class="qr-code-container">
        <h2>Connect to {{settings.SITE_WIFI_SSD}} and Scan the QR Code to Mark Attendance</h2>
        <img
            class="qr-code-img"
            src="{{qrSrc}}"
            alt="QR Code"
        />
        </a>
        <div class="qr-code-hint">
            <p>Please scan the QR code to mark your attendance.</p>
            <p>VPNs may prevent access to this service.</p>
            <p class="qr-links" style="font-size: smaller;">
                {% if class %}
                    <a target="_blank" href="{% url 'student_view_qrCode' classId=class.id %}">Open QR code in new window</a> |
                {% endif %}
                <a target="_blank" href="{{qrSrc}}">Save QR Code</a>
            </p>
        </div>
    </div>
{% else %}       
    <h4>No qr code provided</h4>
{% endif %}  