{% load static %}
{% firstof request.GET.registrationformid '' as reg_form_id %}

<form id="student-registration-form_{{reg_form_id}}" class="student-registration-form" method="POST" action="{% url 'student_view_submit_attendance' classId=class.id %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="classId" value="{% if class %}{{class.id}}{% else %}-1{% endif %}">

    <label for="student_entry_email">CAT email address:</label>
    <input type="text" name="student_email" autocomplete="email">

    <label for="student_entry_fname">First name:</label>
    <input type="text" name="student_fname" autocomplete="given-name nickname">

    <label for="submit_entry_student">Last Name:</label>
    <input type="text" name="student_lname" autocomplete="family-name">

    <button type="submit" class="submit-button" name="submit_student" disabled>+ Register</button>
    <span class="registration-hint"></span>
    <script src="{% static 'StudentView/part/STUDENT_REGISTRATION_FORM.js' %}"></script>
    <script>
        STUDENT_REGISTRATION_FORM.register('student-registration-form_{{reg_form_id}}');
    </script>
</form>