{% load static %}

<form class="attendance-student-form" method="POST" action="{% url 'student_view_submit_attendance' classId=classId %}">
    {% csrf_token %}
    <label for="student_entry_email">CAT email address:</label>
    <input type="text" name="student_email" id="student_entry_email">

    <label for="student_entry_fname">First name:</label>
    <input type="text" name="student_fname" id="student_entry_fname">

    <label for="submit_entry_student">Last Name:</label>
    <input type="text" name="student_lname" id="student_entry_lname">

    <button type="submit" class="submit-button" name="submit_student" id="submit_student_entry" disabled>+ Add</button>
    <script src="{% static 'StudentView/NameForm.js' %}"></script>
</form>