@media print{

    /*
    When printing, throw the grid layout out the window!
    I think I have the same problem as this poster:
    https://stackoverflow.com/questions/77080597/printed-firefox-page-breaks-with-css-grid-element-longer-than-one-printed-page
    */
    body{
        display:block;
        max-height: unset;
        height:unset;

        margin:0;
        padding:0;
    }

    header{
        break-after: avoid;
        page-break-after: avoid;
    }
    main{
        break-before: avoid;
        break-after: auto;
    }
    section{
        break-before: avoid;
        break-after: avoid;
        break-inside: auto;
    }


    header h1{
        font-size: 25px;
    }
    header h2{
        font-size: 20px;
    }

    main{
        display: unset;
        margin:auto;
        padding:0;
    }
    
    main > section:nth-child(1){
        display: unset;

        height: unset;
        width:unset;
        max-width: unset;
        max-height: unset;
        min-width: unset;
        min-height: unset;

        padding: 5px 2px 0 2px;
    }
    main > section:nth-child(2){
        display: none;
    }

    footer{
        display: none;
    }
    
    .qr-links{
        display:none;
    }

    .delete-button-container{
        display:none;
    }

    .attendance-student-form{
        display: none;
    }
}