@media print{
    /* These may not actuially be needed */
    header{
        break-after: avoid;
        page-break-after: avoid;
    }
    main{
        break-before: avoid;
        break-after: auto;
    }
    section{
        break-before: avoid;
        break-after: avoid;
        break-inside: auto;
    }

    /*
    When printing, throw the grid layouts out the window.
    It particaully causes issues in FireFox
    */
    body, main, main > section:nth-child(1){
        display: unset;
    }

    /*
    Reset fixed body height and reset margins & padding
    */
    body{
        max-height: unset;
        height: unset;

        margin:0;
        padding:0;
    }

    /* Reset Main section margins */
    main{
        margin:auto;
        padding:0;
    }
    
    /* Reset the layout of the "left"/main block to fill the entire page */
    main > section:nth-child(1){
        height: unset;
        width:unset;
        max-width: unset;
        max-height: unset;
        min-width: unset;
        min-height: unset;

        padding: 5px 2px 0 2px;
    }

    /* Hide the right block, if any */
    main > section:nth-child(2){
        display: none;
    }

    /* Hide the footer, we don't need it */
    footer{
        display: none;
    }

    /* Misc niggly bits it's nice to hide when printing */
    .qr-links{
        display:none;
    }

    .delete-button-container{
        display:none;
    }

    .student-registration-form{
        display: none;
    }
}