{% load static %}
{% load contextual_reverse %}
{% load default_page_title %}
{% firstof class module title_part as title_part %}

<!DOCTYPE html>
<html lang="{{settings.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block page_title %}{% default_page_title %}{% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <script src="{% static 'globalbase/GLOBGOR.js' %}"></script>

    <link rel="stylesheet" href="{% static 'globalbase/grid.css' %}" />
    <link rel="stylesheet" href="{% static 'globalbase/base.css' %}" />

    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'globalbase/print.css' %}" />
  <body>
    <header>
      <h1>{{settings.INSTITUTION_NAME}}</h1>
      <h2>{% block header_title %}
          {% default_page_title userTitle=settings.PORTAL_TITLE %}
        {% endblock %}</h2>
    </header>
    <main>
        {%block main_block %}
            <section class="block left_block">
                {% block left_block %}<h2>No content</h2>{% endblock %}
            </section>
        {% endblock %}
    </main>
    <footer>
      <div id="footer-menu-left">
        <div id="tool-menu">
          {% if request.user.is_authenticated %}
            <a href="{% url 'faculty_view' %}" title="Faculty Home - Module Index"><i class="fa-solid fa-house"></i></a>
          
            {% if class %}
              {% url 'faculty_view' classId=class.id as faculty_view_class_url %}
              {% url 'student_view_registration_form' classId=class.id as student_view_registration_url %}

              {% if request.path == faculty_view_class_url %}
                <a href="{{student_view_registration_url}}" title="Student View - {{class}}"><i class="fa-solid fa-users-line"></i></a>
              {% else %}
                <a href="{{faculty_view_class_url}}" title="Faculty View - {{class}}"><i class="fa-solid fa-clipboard-user"></i></a>
              {% endif %}
            {% endif %}


            {% if module %}
              {% url 'faculty_view' moduleId=module.id as faculty_view_class_index_url %}
              {% if not request.path == faculty_view_class_index_url %}
                <a href="{{faculty_view_class_index_url}}" title="Faculty Class Index - {{module}}"><i class="fa-solid fa-indent"></i></a>
              {% endif %}
            {% endif %}

            {% contextual_reverse 'faculty_view_attendance' action='view' as attendance_jump_url %}
            {% if not request.path == attendance_jump_url %}
              <a href="{{attendance_jump_url}}" title="Attendance History"><i class="fa-solid fa-clock-rotate-left"></i></a>
            {% endif %}

            {% if request.user.is_staff %}
              <a href="/faculty/admin/" title="Database Admin"><i class="fa-solid fa-database"></i></a>
            {% endif %}

            <form method="POST" action="{% url 'logout' %}" >{% csrf_token %}<button type="submit" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></button></form>
          
          {% else %}
            <a href="{% url 'login' %}" title="Faculty log in"><i class="fa-solid fa-right-to-bracket"></i></a>    
          {% endif %}
        </div>
      </div>
      {% block footer %}<p id="footer-notice">&copy; {{settings.COPYRIGHT_APP_NAME}} {{settings.COPYRIGHT_YEAR}} - {{settings.COPYRIGHT_ORG_NAME}}</p>{% endblock %}
      <div id="footer-menu-right">
        <span class="user-name">
          {% if request.user.is_authenticated %}
            <i class="fa-solid fa-user"></i>{{request.user.get_full_name}}
          {% elif request.user.is_anonymous %}
            <i class="fa-solid fa-user-secret"></i>Student
          {% else %}
            <i class="fa-solid fa-user-xmark"></i>{{request.user.get_full_name}}
          {% endif %}
        </span>
      </div>
    </footer>
    {% block other %}
    {% endblock %}
  </body>
</html>
